<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
  <link rel="stylesheet" href="/resources/lib/leaflet/leaflet.css"/>
  <script src="/resources/lib/leaflet/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <div id="app">
      <zone-content>
      </zone-content>
  </div>

  <script src="/resources/lib/custom/class/dto.js"></script>

  <!-- версия для разработки, отображает полезные предупреждения в консоли -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@1.9.7/dist/build.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>

  <!--  Vuelidate -->
  <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>

  <!--'some-component': httpVueLoader('./resources/assets/js/components/some.vue')-->
 <script src="/resources/lib/custom/zoneEditComp.js"></script>
 <script src="/resources/lib/custom/zoneComp.js"></script>
 <script src="/resources/lib/custom/zoneApp.js"></script>
</body>
<div th:insert="~{footer :: copy}"></div>
</html>